.hourHand {
  fill: white;
}

.innerHourHand{
  fill: black;
}

.minuteHand{
  fill: white;
}

.secondHand{
  fill:"#E8BD37";
}

.hours{
  fill: white;
}
.minutes{
  fill: white;
}

.opacity{
  opacity:1.0 !important;
}